{% extends 'app/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <!-- Menu -->
    {% block aside %}
        {% include 'app/aside.html' %}
    {% endblock %}
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
    <!-- Navbar -->
    {% block navbar %}
        {% include 'app/navbar.html' %}
    {% endblock %}
    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-lg-8 mb-4 order-0">
                    <iframe height="auto" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"
                            src="https://www.openstreetmap.org/export/embed.html?bbox=50.03173828125001%2C36.65079252503471%2C73.49853515625001%2C46.31658418182218&amp;layer=mapnik"
                            style="border: 1px solid black"></iframe>
                    <br/><small><a href="https://www.openstreetmap.org/#map=6/41.665/61.765">Посмотреть более крупную
                    карту</a></small>
                </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            {% block footer %}
                {% include 'app/footer.html' %}
            {% endblock %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
{% endblock %}
