{% extends 'app/base.html' %}
{% load static %}



{% block head %}
    <!-- Template customizer -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <link href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!-- Menu -->
    {% block aside %}
        {% include 'app/aside.html' %}
    {% endblock %}
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
    <!-- Navbar -->
    {% block navbar %}
        {% include 'app/navbar.html' %}
    {% endblock %}
    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Basic Bootstrap Table -->
            <div class="card">
                <div id="map" style="height: 80vh; width: 100%; border-radius: 8px;"></div>
            </div>


            <!-- / Content -->

            <!-- Footer -->
            {% block footer %}
                {% include 'app/footer.html' %}
            {% endblock %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
{% endblock %}

{% block script %}

    <!--! Map Init -->
    <script>
        const map = L.map('map').setView([42.0, 64.0], 6);
        // map.scrollWheelZoom.disable();


        var mosqueIcon = L.icon({
            {#iconUrl: './icons/pin.png',#}
            iconUrl: '{% static 'icons/pin.png' %}',
            iconSize: [32], // size of the icon
            //  shadowUrl: 'leaf-shadow.png',

            //shadowSize:   [50, 64], // size of the shadow
            //iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            //shadowAnchor: [4, 62],  // the same for the shadow
            //popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

        {#L.tileLayer('https://{s}.basemaps.cartocdn.com/voyager_no_buildings/{z}/{x}/{y}.png', {#}
        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_labels_under/{z}/{x}/{y}.png', {
            maxZoom: 18
        }).addTo(map);

        {#L.marker([40.06500000, 65.92944444], {icon: mosqueIcon}).bindPopup('Имоми Аъзам масжиди').addTo(map);#}
        {#L.marker([41.06500000, 64.92944444], { icon: mosqueIcon }).bindPopup('asdsadadas').addTo(map);#}
        {% for device in devices %}
            {% if device.latitude is not null and device.longitude is not null %}
                console.log({{ device.latitude }})
                console.log({{ device.longitude }})
                L.marker([41.06500000, {{ device.longitude }}], {icon: mosqueIcon}).bindPopup(
                    {#L.marker([{{ device.latitude }}, {{ device.longitude }}], {icon: mosqueIcon}).bindPopup(#}
                    '<b>{{ device.code }}</b><br>' +
                    '{{ device.district.city.name_ru }}({{ device.district.name_ru }})<br>' +
                    '{{ device.object_name }}<br>' +
                    '{{ device.sim }}<br>'
                ).addTo(map);
            {% endif %}
        {% endfor %}


        function onMapClick(e) {


        }

        map.on('click', onMapClick);

    </script>
{% endblock %}
</div>
